/*  your css code here. If applicable */
body{
	background-color:rgb(135,206,235);
}
.first-child{
	color:white;
	background-color:black;
	
}
.nth-child{
	color:blue;

}
#last-child{
	color:red;
}
#first{
	background-color:white;
}
#second{
	background-color:gray;
}
#third{
	background-color:pink;
}
#fourth{
	background-color:gray;
}
#fifth{
	background-color:white;
}
