:root{
	background-color:rgb(135, 206, 235);
}
article p:first-child{
	background-color:black;
	color:white;
}
article p:nth-child(2){
	color:blue;
}
article p:last-child{
	color:red;
}

ul li{
	width:50%;
	padding:10px;
	background-color:gray;
	
}
ul li:nth-child(odd) {
	background-color:white;
}
ul li:nth-last-child(3){
	background-color:pink;
}
ul li:first-child,
ul li:last_child{
   font-size:22px;
}




	
